<p>
  mainwindow works!
</p>


<app-herocreator *ngIf="active.windowCharacterChreation" [active]="active"></app-herocreator>
<app-overview *ngIf="active.windowOverview" [active]="active"></app-overview>
<app-battle *ngIf="active.windowBattle" [enemy]="enemy" [hero]="player" [active]="active"></app-battle>
<app-characterwindow *ngIf="active.windowCharacter" [active]="active"></app-characterwindow>
<app-inventory *ngIf="active.windowInventory" [active]="active"></app-inventory>
<app-shop *ngIf="active.windowShop" [active]="active"></app-shop>
<app-skillwindow *ngIf="active.windowSkill" [active]="active"></app-skillwindow>

