<p>
  battle works!
</p>

<ng-container>

  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile class="battlefield"><mat-card>
      <mat-card-title>Hero</mat-card-title>
      <mat-card-content>
        <div>Name: {{hero.name}}</div>
        <div>Class: {{hero.heroClass}}</div>
        <div>Damage: {{hero.damage}}</div>
        <div>HP: {{hero.hp}}</div>
        <div>Gold: {{hero.gold}}</div>
        <div>HeroLevel: {{hero.heroLevel}}</div>
        <div>Exp: {{hero.heroLevel?.currentExp}}</div>
        <div>Level: {{hero.heroLevel?.level}}</div>
      </mat-card-content>
    </mat-card></mat-grid-tile>
    <mat-grid-tile> <mat-card>
      <mat-card-title>Monster</mat-card-title>
      <mat-card-content>
        <div>Name: {{enemy.name}} </div>
        <div>Damage: {{enemy.damage}}</div>
        <div>HP: {{enemy.hp}}</div>
      </mat-card-content>
    </mat-card></mat-grid-tile>
  </mat-grid-list>

  <button (click)="attackEnemy()" mat-button>Attack</button>


  <mat-card></mat-card>
</ng-container>


<!--<button *ngFor="let skill of hero.skills" (click)="useSkill(skill)" mat-button >{{skill.name}}</button>-->

