<p>
  herocreator works!
</p>
{{hero?.heroClass}}
{{hero?.name}}


<div *ngIf="hero != null">
  <mat-form-field>
    <mat-select [(value)]="heroClass" placeholder="Hero Class">
      <!--<mat-option (click)="reloadScripts()"></mat-option>-->
      <mat-option *ngFor="let hero of heroClassOptions" [value]="hero">
        {{hero}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <input [(ngModel)]="heroName" [ngModelOptions]="{standalone: true}"
         placeholder="Name"/>
</div>


<button mat-button (click)="createCharacter()">Create Character</button>

