<!--{{hero}}-->
<!--Name: {{hero?.name}}-->
<!--Class: {{hero?.heroClass}}-->

<div>
  <button mat-button (click)="hello()">Hello</button>
  <div>

    {{hero?.name}}
    Equipment:
    <div *ngFor='let equipmentSlot of hero?.equipment?.getSlots(null)'>
      {{equipmentSlot?.slotType?.toString()}}
      <div *ngIf="equipmentSlot.item!=null"
      >
        <img src={{equipmentSlot.item.img}} (click)="click(equipmentSlot)">
      </div>
      <div *ngIf="equipmentSlot.isEmpty()">
        <img src="assets/equipment-empty.png" (click)="click(equipmentSlot)">
      </div>
    </div>
  </div>

</div>
